argon2-cffi
async-generator
attrs
backcall
bleach
certifi==2020.12.5
cffi
click==8.0.0
colorama
decorator
defusedxml
entrypoints==0.3
Flask==2.0.0
gunicorn==20.1.0
importlib-metadata
ipykernel
ipython
ipython-genutils
itsdangerous==2.0.0
jedi==0.17.0
Jinja2==3.0.0
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
MarkupSafe==2.0.0
mistune==0.8.4
nbclient
nbconvert
nbformat
nest-asyncio
notebook
packaging
pandocfilters
parso
pickleshare
prometheus-client
prompt-toolkit
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pywin32==227
pywinpty==0.5.7
pyzmq==20.0.0
Send2Trash
six
terminado==0.9.4
testpath
tornado
traitlets
wcwidth
webencodings==0.5.1
Werkzeug==2.0.0
wincertstore==0.2
zipp
